@import-normalize;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.light-theme {
  --color-page-bg: #f5f8ff;
  --color-app-bg: #fefefe;
  --color-message-bg: rgba(72, 112, 207, 0.5);
  --color-text: #6a7180;
  --color-text-accent: #41444b;
  --color-app-bg-reversed: #1f2a48;
  --color-app-shadow: rgba(70, 98, 165, 0.15);
}

.dark-theme {
  --color-page-bg: #141c2f;
  --color-app-bg: #1f2a48;
  --color-message-bg: rgba(0, 0, 0, 0.5);
  --color-text: #d2d9e5;
  --color-text-accent: #fcfcfe;
  --color-app-bg-reversed: #fefefe;
  --color-app-shadow: rgba(0, 0, 0, 0.15);
}

.btn {
  cursor: pointer;
}

.app {
  background: var(--color-page-bg);
  color: var(--color-text);
}

